# DBSCAN
![DBSCAN](dbscan.png)
### Данные
* https://video.ittensive.com/machine-learning/hacktherealty/exposition_train.basic.csv.gz

### Подключение библиотек

In [17]:
import pandas as pd
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler

### Загрузка данных

In [18]:
train_data = pd.read_csv('https://video.ittensive.com/machine-learning/hacktherealty/exposition_train.basic.csv.gz')
train_data.head()

,total_area,ceiling_height,rooms,living_area,price,day_mean,doy_108,price_locality_name_median,target
0,105.000000,3.00,3,50.000000,95000,2.456912,0,2.261905,1
1,40.000000,3.00,1,19.200001,25000,3.028689,0,1.000000,2
2,37.599998,2.64,0,19.000000,26000,3.091993,0,0.619048,2
3,80.000000,3.00,3,49.000000,35000,3.101010,0,1.250000,2
4,100.000000,3.00,3,49.000000,80000,2.495468,0,1.904762,3

### DBSCAN
Выделим связанные группы данных

In [19]:
dbscan = DBSCAN(n_jobs=-1)
dbscan_labels = dbscan.fit_predict(train_data)

In [20]:
print ("Неразмеченные данные:", str(round(100*len(dbscan_labels[dbscan_labels==-1])/len(train_data)))+"%")

Неразмеченные данные: 55%

In [21]:
print(1 - metrics.davies_bouldin_score(train_data, dbscan_labels))

-0.8552465295114389

Увеличим окрестность близких данных

In [22]:
dbscan = DBSCAN(n_jobs=-1, eps=3, min_samples=5)
dbscan_labels = dbscan.fit_predict(train_data)

In [23]:
print ("Неразмеченные данные:", str(round(100*len(dbscan_labels[dbscan_labels==-1])/len(train_data)))+"%")

Неразмеченные данные: 7%

In [24]:
print (np.unique(dbscan_labels))

[  -1    0    1 ... 1132 1133 1134]

In [25]:
print(1 - metrics.davies_bouldin_score(train_data, dbscan_labels))

-3.992472312179001

### Нормализация данных
Приведение всех значений к отрезку [0;1]

In [26]:
train_data_mm = pd.DataFrame(MinMaxScaler().fit_transform(train_data))

In [27]:
train_data_mm.head()

          0         1    2         3         4         5    6         7     8
0  0.097782  0.333333  0.6  0.108352  0.002078  0.390327  0.0  0.002071  0.00
1  0.032258  0.333333  0.2  0.038826  0.000522  0.599951  0.0  0.000893  0.25
2  0.029839  0.213333  0.0  0.038375  0.000544  0.623160  0.0  0.000538  0.25
3  0.072581  0.333333  0.6  0.106095  0.000744  0.626465  0.0  0.001127  0.25
4  0.092742  0.333333  0.6  0.106095  0.001745  0.404462  0.0  0.001738  0.50

In [28]:
dbscan_mm = DBSCAN(n_jobs=-1, eps=0.02)
dbscan_labels_mm = dbscan_mm.fit_predict(train_data_mm)

In [29]:
print ("Неразмеченные данные:", str(round(100*len(dbscan_labels_mm[dbscan_labels_mm==-1])/len(train_data_mm)))+"%")

Неразмеченные данные: 4%

In [30]:
print(1 - metrics.davies_bouldin_score(train_data_mm, dbscan_labels_mm))

-0.16759345675142256

In [31]:
print (np.unique(dbscan_labels_mm))

[ -1   0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16
  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34
  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52
  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70
  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88
  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106
 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124
 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142
 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160
 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178
 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196
 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214
 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232
 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250
 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268
 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286
 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304
 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322
 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340
 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358
 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376
 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394
 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412
 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430
 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448
 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466
 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484
 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502
 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520
 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538
 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556
 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574
 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590]

Элементы первого кластера

In [32]:
train_data.iloc[list(np.where(dbscan_labels_mm==0)[0])]

,total_area,ceiling_height,rooms,living_area,price,day_mean,doy_108,price_locality_name_median,target
0,105.0,3.0,3,50.0,95000,2.456912,0,2.261905,1
129,78.0,3.0,3,51.0,75000,2.830472,0,1.785714,1
2984,72.0,3.0,3,48.0,40000,3.030030,0,0.952381,1
3473,67.0,3.0,3,42.0,50000,3.084795,0,2.000000,1
3885,69.0,3.0,3,50.0,55000,3.485714,0,1.309524,1
...,...,...,...,...,...,...,...,...,...
353827,123.0,3.0,3,73.0,160000,2.987315,0,3.809524,1
353843,160.0,3.0,3,80.0,250000,2.908642,0,5.952381,1
353867,96.0,3.0,3,61.0,120000,3.149871,0,2.857143,1
355940,94.0,3.0,3,66.0,130000,3.153614,0,3.095238,1
356326,90.0,3.0,3,53.0,125000,2.682927,0,2.976190,1