# Выделение факторов
Оставим только наиболее значащие факторы из всех
### Данные
* https://video.ittensive.com/machine-learning/hacktherealty/exposition_train.csv.gz

### Подключение библиотек

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

### Загрузка данных

In [2]:
train_data = pd.read_csv('exposition_train.csv')
train_data.head()

c:\users\lenovo pc\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (1516) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,building_series_id,target,parking,build_year,expect_demolition,latitude,total_area,ceiling_height,rooms,floors_total,...,metro_station_Kuznetskij most,metro_station_Aleksandrovskij sad,metro_station_Borovitskaja,metro_station_Lubjanka,metro_station_Teletsentr,metro_station_Ploschad' Revoljutsii,metro_station_Rumjantsevo,metro_station_Partizanskaja,price_locality_name_median,price_metro_station_median
0,1564812,1,OPEN,2005,0,55.645313,105.000000,3.00,3,20,...,0,0,0,0,0,0,0,0,2.261905,2.500000
1,1564812,2,CLOSED,2010,0,55.537102,40.000000,3.00,1,3,...,0,0,0,0,0,0,0,0,1.000000,1.086957
2,663302,2,OPEN,1995,0,55.662956,37.599998,2.64,0,17,...,0,0,0,0,0,0,0,0,0.619048,0.553191
3,1564812,2,OPEN,2018,0,55.669151,80.000000,3.00,3,27,...,0,0,0,0,0,0,0,0,1.250000,1.521739
4,1564812,3,UNKNOWN,2004,0,55.828518,100.000000,3.00,3,4,...,0,0,0,0,0,0,0,0,1.904762,2.000000

Удаляем текстовые атрибуты, они уже разложены в единичные векторы

In [3]:
train_data = train_data.drop(labels=["parking", "building_type", "balcony",
                                     "renovation", "locality_name", "metro_station"], axis=1)

### Тестирование корреляции параметров

In [4]:
best_features = []
y = train_data["target"]
features_to_test = list(train_data.columns)
for feature in train_data.columns:
    if type(train_data[feature].values[0]) is not str and feature.find("target") == -1:
        x_feature = pd.DataFrame(train_data[feature])
        score = LinearRegression().fit(x_feature, y).score(x_feature, y)
# R^2 >= 0.01, r >= 0.1, 10%
        if score > 0.01:
            print (feature, score)
            best_features.append(feature)

total_area 0.047077452744266224
ceiling_height 0.018411055819145816
rooms 0.03143849382456698
living_area 0.04014277880539696
price 0.01283942521085768
day_mean 0.042714580731351814
doy_108 0.010704859943396428
price_locality_name_median 0.011666225448715317

In [5]:
print ("Наиболее важные параметры:", best_features)

Наиболее важные параметры: ['total_area', 'ceiling_height', 'rooms', 'living_area', 'price', 'day_mean', 'doy_108', 'price_locality_name_median']

In [6]:
best_features.append("target")

### Сохранение данных

In [7]:
train_data[best_features].to_csv("exposition_train.basic.csv", index=False)