# OPTICS
![OPTICS](optics.jpg)
### Данные
* https://video.ittensive.com/machine-learning/hacktherealty/exposition_train.basic.csv.gz

### Подключение библиотек

In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import OPTICS
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler

### Загрузка данных

In [2]:
train_data = pd.read_csv('https://video.ittensive.com/machine-learning/hacktherealty/exposition_train.basic.csv.gz')
train_data.head()

,total_area,ceiling_height,rooms,living_area,price,day_mean,doy_108,price_locality_name_median,target
0,105.000000,3.00,3,50.000000,95000,2.456912,0,2.261905,1
1,40.000000,3.00,1,19.200001,25000,3.028689,0,1.000000,2
2,37.599998,2.64,0,19.000000,26000,3.091993,0,0.619048,2
3,80.000000,3.00,3,49.000000,35000,3.101010,0,1.250000,2
4,100.000000,3.00,3,49.000000,80000,2.495468,0,1.904762,3

### Нормализация данных
Приведение всех значений к отрезку [0;1]

In [3]:
train_data_mm = pd.DataFrame(MinMaxScaler().fit_transform(train_data))

In [4]:
train_data_mm.head()

          0         1    2         3         4         5    6         7     8
0  0.097782  0.333333  0.6  0.108352  0.002078  0.390327  0.0  0.002071  0.00
1  0.032258  0.333333  0.2  0.038826  0.000522  0.599951  0.0  0.000893  0.25
2  0.029839  0.213333  0.0  0.038375  0.000544  0.623160  0.0  0.000538  0.25
3  0.072581  0.333333  0.6  0.106095  0.000744  0.626465  0.0  0.001127  0.25
4  0.092742  0.333333  0.6  0.106095  0.001745  0.404462  0.0  0.001738  0.50

### OPTICS

In [20]:
optics = OPTICS(n_jobs=-1, eps=0.1)
optics_labels = optics.fit_predict(train_data_mm[0:50000])

c:\users\lenovo pc\appdata\local\programs\python\python38\lib\site-packages\sklearn\cluster\_optics.py:803: RuntimeWarning: divide by zero encountered in true_divide
  ratio = reachability_plot[:-1] / reachability_plot[1:]

In [21]:
print ("Неразмеченные данные:", str(round(100*len(optics_labels[optics_labels==-1])/len(train_data_mm)))+"%")

Неразмеченные данные: 8%

In [23]:
print(1 - metrics.davies_bouldin_score(train_data_mm[0:50000], optics_labels))

-0.3489323364405761

In [24]:
print (np.unique(optics_labels))

[  -1    0    1 ... 2404 2405 2406]

Элементы первого кластера

In [31]:
train_data.iloc[list(np.where(optics_labels==0)[0])]

,total_area,ceiling_height,rooms,living_area,price,day_mean,doy_108,price_locality_name_median,target
20473,75.0,3.0,3,48.000000,50000,2.437738,0,1.190476,1
20748,68.0,3.0,3,54.000000,82000,2.502800,0,1.952381,1
22087,72.0,3.0,3,48.000000,100000,2.437738,0,2.380952,1
22775,84.0,3.0,3,45.700001,115000,2.534626,0,2.738095,1
22973,79.0,3.0,3,49.000000,90000,2.478689,0,2.142857,1
26315,82.0,3.0,3,55.000000,60000,2.517241,0,1.714286,1
26418,70.0,3.0,3,49.000000,60000,2.432781,0,1.428571,1
29892,96.0,3.0,3,49.000000,38000,2.489717,0,1.652174,1
35512,93.0,3.0,3,47.000000,50000,2.437738,0,1.666667,1
48706,65.0,3.0,3,43.000000,35000,2.495468,0,1.346154,1